*,
*::before,
*::after {
  box-sizing: border-box;
}

/* add grid/flex layout to the home page -to have more responsive layout */

/* Make the container two columns */
body {
  margin: 0;
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  max-width: 1200px;
  gap: 50px;
}

.content {
  padding: 10px;
}

.image {
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.image img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* navigation bar  */

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 60px;
}

nav div,
ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  font-size: 24px;
  letter-spacing: -0.025rem;
  line-height: 1.5;
  color: #ffffff;

  font-family: "Actor", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.logo-dot {
  color: #ffffff;
}
nav a {
  text-decoration: none;
  color: #ffffff;
}

.navLinks li {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  text-decoration: none;
  list-style: none;
}

.text {
  padding: 30px 0 30px;
}
.text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 84px;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  text-align: left;
}
.text p {
  max-width: 300px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 22;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
.text i {
    width: 40px;
    height: 30px;
    color: #242635;
}